Para quem tiver curiosidade de saber como gerar uma sub igual à gender_submission, esse é o código.

In [1]:
# Importando a biblioteca pandas
import pandas as pd

In [10]:
# Lendo o arquivo csv
data = pd.read_csv("test.csv")

In [11]:
# Exibindo as primeiras linhas do arquivo
data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [13]:
# Criando uma nova coluna com valores 0 e 1
e_feminino = (data['Sex'] == 'female').astype(int)
# Exibindo as primeiras linhas do arquivo
e_feminino.head()

0    0
1    1
2    0
3    0
4    1
Name: Sex, dtype: int32

In [14]:
# Adicionando a nova coluna ao arquivo
e_feminino.index = data['PassengerId']
# Exibindo as primeiras linhas do arquivo
e_feminino.head()

PassengerId
892    0
893    1
894    0
895    0
896    1
Name: Sex, dtype: int32

In [15]:
# Renomeando a coluna
e_feminino.name = 'Survived'
# Exibindo as primeiras linhas do arquivo
e_feminino.head()

PassengerId
892    0
893    1
894    0
895    0
896    1
Name: Survived, dtype: int32

In [16]:
# Salvando o arquivo
e_feminino.to_csv('gender_submission.csv', header=True)

In [19]:
# Exibindo as primeiras linhas do arquivo
!head -n10 gender_submission.csv

'head' n�o � reconhecido como um comando interno
ou externo, um programa oper�vel ou um arquivo em lotes.